        <div class="row" id="instrument">
                <div class="col-sm-2 col-md-2 col-lg-2">

                </div>
                
                <div class="col-sm-10 col-md-10 col-lg-10">
                        <input type="text" placeholder="Account Number" id="instrument" formControlName="accountNumber" autofocus>
                </div>
           
        </div>
        <div class="row" id="secure">
                <div class="col-sm-2 col-md-2 col-lg-2">

                </div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                        <input type="text" placeholder="Secret Code" id="instrument" formControlName="accountCode" autofocus>
                </div>
                
            
        </div>
 